<%= form_with(model: time_card, local: true) do |form| %>
  <% if time_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(time_card.errors.count, "error") %> prohibited this time_card from being saved:</h2>

      <ul>
      <% time_card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-control">
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.time_select :start_time %>
  </div>

    <div class="field">
    <%= form.label :end_time %>
    <%= form.time_select :end_time %>
  </div>


  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :client %>
    <%= form.text_field :client_id %>
  </div>

  <div class="field">
    <%= form.label :card_id %>
    <%= form.text_field :card_id %>
  </div>

  <div class="field">
    <%= form.label :tag_id %>
    <%= form.text_field :tag_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
</div>
<% end %>
