<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @time_card.description %>
</p>

<p>
  <strong>Time:</strong>
  <%= @time_card.start_time.to_time %>
</p>

<p>
  <strong>Time:</strong>
  <%= @time_card.end_time %>
</p>

<p>
  <strong>Client:</strong>
  <%= @time_card.client_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @time_card.card_id %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @time_card.tag_id %>
</p>

<%= link_to 'Edit', edit_time_card_path(@time_card) %> |
<%= link_to 'Back', time_cards_path %>
