<!DOCTYPE html>
<html>
  <head>
    <title>Cinematronix</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  
  <body style="background-color:white">
    <%= render 'layouts/navbar'%>
    <div class="container" style="background-color= rgba(0,0,0,0); max-width: 100%;">
      <%= yield %>
    </div>
  </body>
</html>